spring:
  application:
    name: hash-depl
  data:
    mongodb:
      uri: ${MONGO_URI}
      database: url-shortener
  cloud:
    kubernetes:
      discovery:
        all-namespaces: true
server:
  port: 8001
  error:
    include-message: always
eureka:
  client:
    register-with-eureka: true
    fetchRegistry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/