html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(0, 34, 77, 0.95);
  background-image: url("/app/urlbg.jpeg");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  width: 450px;
  border-radius: 1rem;
  box-shadow: -10px 10px 20px -10px black;
}

.form .form__custom-button {
  margin-top: 50px;
}
.btn:focus {
  box-shadow: none;
}

.MuiPaper-root {
  box-shadow: none !important;
}

.MuiButtonBase-root {
  padding: auto !important;
}

.MuiAccordionDetails-root {
  padding: none !important;
}

.MuiAccordionSummary-content {
  width: 100%;
}

.nav-menu-container {
  position: absolute;
  right: 0;
  margin: 5px;
  z-index: 1500;
}

.btn-primary {
  color: white;
  margin: 3px;
}

.side-bar-container {
  min-width: 600px;
}
